body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl,
dd,
input,
textarea,
fieldset,
legend,
option,
th,
td,
hr,
button {
  margin: 0;
  padding: 0;
}

html {
  /* font-size: 0.052vw; */
  --primary-color: #726DF9;


}

* {
  box-sizing: border-box;
}

body {
  font: 16px "MiSans";
  line-height: 1.5;
  color: #333;
}



li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #666;
}

img {
  border: none;
  display: block;
  /*vertical-align: top;*/
}

i,
em {
  font-style: normal;
}

input,
textarea,
select,
area {
  outline: none;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.border0 {
  border: none;
}

.clear:after {
  content: " ";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

.clear {
  zoom: 1;
}

a:hover {
  color: var(--primary-color);
}

.loginoutTip .ant-popover-inner {
  width: 83px;
  height: 43px;
  border-radius: 8px;
  color: rgba(30, 30, 30, 0.6);
  font-size: 16px;
  padding: 0;
  background: linear-gradient(180deg, rgba(252, 253, 252, 0.7) 0%, rgba(255, 255, 255, 0.9) 100%);
  box-shadow: 0px 0px 68.8px rgba(1, 1, 1, 0.1);
  backdrop-filter: blur(11px);
  line-height: 43px;
  text-align: center;
  transform: translateX(30px);
  cursor: pointer;
}

.loginoutTip .ant-popover-inner:hover {
  background-color: #F1F0FF;
}

main {
  min-width: 100vw;
  min-height: 100vh;
  background: linear-gradient(181.25deg, #DFDEFF 15.08%, #FFFFFF 98.93%);
  background-attachment: fixed;

}

main.ad {
  background: linear-gradient(181.25deg, #726DF9 15.08%, #FFFFFF 98.93%);
}

.container {
  max-width: 1400px;
  margin: 0 auto;

}

.logo {
  position: absolute;
  left: 63px;
  top: 60px;
}

.ant-image-mask {
  display: none !important;
}

.ant-image-preview-mask {
  background-color: rgba(0, 0, 0, 0.95) !important;
}

/* .swiper-slide-active,
.swiper-slide-duplicate-active {
  --tw-scale-x: 1 !important;
} */
.ant-carousel {
  overflow: hidden;
}

.slick-list {
  overflow: visible !important;

  .slick-slide {
    transform: scale(0.88);
    transition: all 0.3s ease;

    &.slick-active {
      transform: scale(1);
    }
  }
}

.ant-carousel {
  background-color: transparent;
}

@media (max-width: 1024px) {
  main.home {
    background: linear-gradient(180.58deg, #E0FFFF 0.85%, #FBF5EF 95.53%), linear-gradient(180deg, #CDCBFF 0%, #FBF5EF 100%);
  }

  main.ad {
    background: #F8F7F6;
  }

  main.inset {
    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 120%;
      height: 45vh;
      left: -10%;
      top: 0;
      z-index: 0;
      border-bottom-left-radius: 200px;
      border-bottom-right-radius: 200px;


      background: linear-gradient(140.41deg, #726DF9 48.75%, #987DFB 66.04%, #D899FF 95.18%);
    }

  }
}

.ant-typography {
  color: inherit !important;
}