.title {
  font-size: 32px;
  padding: 44px 0 39px;
  font-weight: bold;
}

.billImage {
  width: 100%;
  // background-color: #000;

  // filter: drop-shadow(0px 4px 108.6px rgba(0, 0, 0, 0.25));
  border-radius: 24px;
}

.billItem {
  width: 100%;
  margin-bottom: 20px;
  font-size: 0;
}



.billButton {
  width: 44px;
  height: 44px;
  background: #FFFFFF;
  box-shadow: 0px 1px 32px rgba(0, 0, 0, 0.13);
  border-radius: 50%;
  position: absolute;
  bottom: 46px;
  // display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  right: 0;
  margin: auto;
  transition: all;
  cursor: pointer;

  &:hover {
    background-color: rgba(256, 256, 256, 0.3);
  }

  &.buttonTop {
    top: 46px;
    bottom: unset;

  }
}

.previewBox {
  width: 1800px;
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.desc {
  width: 100%;
  height: 88px;
  background: #FFFFFF;
  border: 1px solid #EDEBEB;
  border-radius: 24px;
  display: flex;
  align-items: center;
  padding: 0px 20px;

  .avar {
    width: 56px;
    height: 56px;
  }

  .date {
    color: inherit;
    font-size: 16px;
  }

  h3 {
    font-size: 20px;
    margin: 0 30px 0 10px;
    color: inherit;
  }

  &[data-preview] {
    color: #333;
    background: transparent;
    border: none;

    h3 {
      font-size: 28px;
    }

    .date {
      font-size: 24px;
    }
  }
}

@media (max-width: 1024px) {
  .desc {
    height: 58px;
    font-size: 12px;

    h3 {
      font-size: 13px;
      margin-left: 7px;
    }

    .date {
      font-size: 12px;
    }

    .avar {
      width: 24px;
      height: 24px;
    }
  }


  .billImage {
    filter: none;
  }


}